@import url('root.css');
@import url('navbar.css');
@import url('footer.css');
@import url('style.css');




.drinkar1 {
    grid-column: 1/8;
    margin: 20px 0;
    padding: 50px;
    border: 2px solid black;
    background-color: var(--color-fourth);
}
.meni1 {
    grid-column: 7/13;
    margin: 20px 0;
    padding: 50px;
    border: 2px solid black;
    background-color: var(--color-fourth);
    
}
.aw-event {
    grid-column: 1/6;
    margin: 20px 0;
    padding: 50px;
    border: 2px solid black;
    background-color: var(--color-fourth);
    

}
.oppettider {
    grid-column: 9/13;
    margin: 20px 0;
    padding: 50px;
    border: 2px solid black;
    background-color: var(--color-fourth);
    

}
