@import url('root.css');
@import url('navbar.css');
@import url('footer.css');
@import url('style.css');



.content-section{
    background-color: var(--color-fifth);
}

.main-content-section {
    grid-column: 1 / 12;
}


.drinkar1 {
   
    grid-column: 7/12;
    grid-row: 2/3;
    margin: 20px 25px;
    padding: 50px;
    border: 2px solid black;
    background-color: var(--color-fourth);
    border-radius: 10px;
}
.meni1{
    
    grid-column: 2/6;
    
    margin: 20px 25px;
    padding: 50px;
    border: 2px solid black;
    background-color: var(--color-fourth);
    border-radius: 10px;
    
}
.aw-event {
    
    grid-column: 2/6;
    grid-row: 1/1;
    margin: 20px 25px;
    padding: 50px;
    border: 2px solid black;
    background-color: var(--color-fourth);
    border-radius: 10px;
    

}



.oppettider1 {
    grid-column: 7/12;
    margin: 20px 25px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--color-fourth);
    

}
.main-content-section {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.content-section{
    width: 100%;        
    height: 100%;        
}



@media (max-width:1000px) {
    .main-content-section {
      display: block;  
      display: center;
    }
    
}

