@import url('root.css');
@import url('navbar.css');
@import url('style.css');
@import url('footer.css');

.container {
    width: 90%; 
    margin: 0 auto;
    display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
   
}

.main-content {
    grid-column: 1 / 13;
    min-height: 400px;
    border: solid 2px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-fourth);


}
.bord {
     grid-column: 1 / 4;
     margin: 0 20px;
}

.event {
   grid-column:  4 / 13;
   display: flex;
   justify-content: space-evenly;
   
}
.bg {
    background-image: url("/Images/beerpic.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
}

[class*=content] {
    border: solid 2px;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
    width: 100%;
    margin: 0 20px;
}
.bg:hover {
    transform: scale(1.15);
    transition: all 0,3s ease;

}

header {
    grid-column: 1 / 13;
}