@import url('root.css');
@import url('navbar.css');
@import url('style.css');
@import url('footer.css');

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
}






header {
    grid-column: 1 / 13;
}