@import url('root.css');


footer {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border-top: 2px solid #111;
    padding: 30px;
    margin-top: 40px;
    
}
.footer-container {
    grid-column: 1 / 9;
    padding: 30px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
   
}

.footer-item {
    font-size: 40px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    font-weight: 700;
    word-wrap: break-word;
}
.footer-item p {
    font-family: var(--ff-primary);
}
.footer-item:hover,
.footer-item-2:hover {
    transform: scale(1.15);
}
.footer-item i {
    color: var(--color-fifth);
}
.footer-item a {
    text-decoration:none;
    list-style: none;
    color: var(--color-secondary);
}

.medier {
    grid-column: 9 / 13;
    align-self: center;
}
.medier h1 {
    text-align: center;
}

.sociala-medier {
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
}

/* göra lite mer responsiv med uppdelningen av lådor vid lite större än 1000px */
@media (max-width:1000px) {

    footer {
        display: block;
        
    }
    .footer-container {
        display: block;
        padding: 0;
    }
    .sociala-medier {
        grid-column: 1 / 13;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .footer-item-2 {
        margin: 10px 0;
    }
    
    .footer-item {
        margin: 0 auto;
        padding: 30px;
        width: 70%; 
    }
    .footer-item p {
        font-size: 50%;
    }  
    .footer-item:hover {
        transform: scale(1.05);
    }
    
    }