@import "root.css";
@import "navbar.css";
@import "footer.css";
@import "style.css";

.menu-container {
  margin: 0 auto;
  background-color: var(--color-fifth);
  width: 90%;
  border: 1px solid #333;
  padding: 2%;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  gap: 2%;
  min-height: 210vh;
}

.menu-container,
.menu-part {
  border-radius: 10px;
}
.menu-part-heading {
  width: 90%;
  margin: 0 auto;
}
.nav-wrapper,
.footer-wrapper {
  width: 90%;
  margin: 0 auto;
}

h2,
h3 {
  font-size: 1em;
}

.outer-box {
  display: flex;
  flex-direction: row;
}
.inner-box1,
.inner-box2 {
  padding-left: 2%;
  flex-direction: column;
  min-width: 47%;
  max-width: 49%;
}
.outer-drinks-box {
  width: 100%;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.inner-drink-box1,
.inner-drink-box2,
.inner-drink-box3 {
  margin: 2px;
  padding: 0 2%;
  flex-flow: column wrap;
}
.inner-box-heading {
  color: var(--color-third);
}
.menu-item-description {
  display: flex;
  text-align: start;
  font-style: italic;
  font-size: 90%;
  margin-top: 4px;
  margin-left: 0;
}
.menu-heading {
  font-size: 3em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.menu-part {
  border: 1px solid #333;
  background-color: var(--color-fourth);
  color: var(--color-secondary);
}
.menu-part-heading {
  color: var(--color-third);
  text-align: center;
  border-bottom: 1px solid #333;
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 1.5em;
}
.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 5px;
}
.menu-item-price {
  text-align: end;
}
.menu-item-dish {
  flex-wrap: wrap;
  text-align: start;
}
/*GRID DESKTOP*/

.menu-heading {
  grid-column: 1/14;
  grid-row: 1;
  justify-self: center;
}
.drinks-part {
  grid-column: 8/14;
  grid-row: 2/5;
}
.drinks-part2 {
  grid-column: 8/14;
  grid-row: 5/8;
}
.starters-part {
  grid-column: 1/8;
  grid-row: 2/3;
}
.mains-part {
  grid-column: 1/8;
  grid-row: 3/5;
}
.childrens-part {
  grid-column: 1/8;
  grid-row: 5/7;
}
.desserts-part {
  grid-column: 1/8;
  grid-row: 7/8;
}

/*GRID TABLET*/
@media screen and (min-width: 768px) and (max-width: 960px) {
  .menu-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    margin-top: 2%;
    padding-top: 0;
    row-gap: 1%;
    font-size: 80%;
    min-height: 180vh;
  }
  .menu-heading {
    grid-column: 1/7;
    grid-row: 1/1;
    justify-self: center;
  }
  .drinks-part {
    grid-column: 4/7;
    grid-row: 7/16;
    gap: 0;
    display: flex;
    flex-flow: column wrap;
  }
  .drinks-part2 {
    grid-column: 1/4;
    grid-row: 12/16;
  }
  .starters-part {
    grid-column: 1/7;
    grid-row: 2/3;
  }
  .mains-part {
    grid-column: 1/7;
    grid-row: 3/7;
  }
  .childrens-part {
    grid-column: 1/4;
    grid-row: 7/9;
  }
  .desserts-part {
    grid-column: 1/4;
    grid-row: 9/12;
  }
}

/*GRID MOBILE*/
@media screen and (max-width: 767px) {
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    min-height: 300vh;
    grid-gap: 1%;
    font-size: 70%;
  }
  .menu-heading {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }
  .starters-part {
    grid-column: 1/2;
    grid-row: 2/5;
  }
  .mains-part {
    grid-column: 1/2;
    grid-row: 5/12;
  }
  .childrens-part {
    grid-column: 1/2;
    grid-row: 12/16;
  }
  .desserts-part {
    grid-column: 1/2;
    grid-row: 16/20;
  }
  .drinks-part {
    grid-column: 1/2;
    grid-row: 20/25;
    gap: 0;

    width: 100%;
  }
  .drinks-part2 {
    grid-column: 1/2;
    grid-row: 25/30;
  }
}
