@import "root.css";
@import "navbar.css";
@import "footer.css";
@import "style.css";

.menu-container {
  margin: 0 auto;
  background-color: rgba(255, 166, 0, 0.8) /*var(--color-fifth)*/;
  width: 90%;
  height: 100%;
  border: 1px solid #333;
  padding: 2%;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 2%;
  min-height: 150vh;
}
h1,
h2,
h3 {
  font-size: 1em;
}
.outer-box {
  display: flex;
  flex-direction: row;
}
.inner-box1,
.inner-box2 {
  padding: 0 2%;
  flex-direction: column;
  min-width: 45%;
  max-width: 45%;
}
.outer-drinks-box {
  flex-flow: column wrap;
  justify-content: space-evenly;
}
.inner-drink-box1,
.inner-drink-box2,
.inner-drink-box3 {
  margin: 2px;
  padding: 0 2%;
}
.menu-item-description {
  display: flex;
}
.menu-heading {
  font-size: 2em;
  font-weight: bolder;
  margin: 0;
}
.menu-part {
  border: 1px solid #333;
  background-color: var(--color-fourth) /*rgba(128, 0, 128, 0.719)*/;
  color: var(--color-secondary);
}
.menu-part-heading {
  color: var(--color-third);
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 0.5%;
  margin-top: 1%;
  height: 1.5em;
}
.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.menu-item-price {
  text-align: end;
}
.menu-item-description {
  font-size: 90%;
  margin-top: 4px;
  margin-left: 0;
}
/*GRID DESKTOP*/
.menu-heading {
  grid-column: 1/14;
  grid-row: 1/2;
  justify-self: center;
}
.drinks-part {
  grid-column: 8/14;
  grid-row: 2/17;
}
.starters-part {
  grid-column: 1/8;
  grid-row: 2/7;
}
.mains-part {
  grid-column: 1/8;
  grid-row: 7/17;
}
.childrens-part {
  grid-column: 1/8;
  grid-row: 17/21;
}
.desserts-part {
  grid-column: 8/14;
  grid-row: 17/21;
}

/*GRID TABLET*/
@media screen and (min-width: 768px) and (max-width: 960px) {
  .menu-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(30, 1fr);
    margin-top: 2%;
    padding-top: 2%;
    row-gap: 1%;
  }
  .menu-heading {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
  }
  .drinks-part {
    grid-column: 3/4;
    grid-row: 2/30;
    gap: 0;
    display: flex;
    flex-flow: column wrap;
  }
  .starters-part {
    grid-column: 1/3;
    grid-row: 2/8;
  }
  .mains-part {
    grid-column: 1/3;
    grid-row: 8/18;
  }
  .childrens-part {
    grid-column: 1/3;
    grid-row: 18/24;
  }
  .desserts-part {
    grid-column: 1/3;
    grid-row: 24/30;
  }
}

/*GRID MOBILE*/
@media screen and (max-width: 768px) {
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
  .menu-heading {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }
  .drinks-part {
    grid-column: 1/2;
    grid-row: 30/40;
    gap: 0;
    display: flex;
    flex-basis: auto;
    flex-flow: column wrap;
  }
  .starters-part {
    grid-column: 1/2;
    grid-row: 2/8;
  }
  .mains-part {
    grid-column: 1/2;
    grid-row: 8/18;
  }
  .childrens-part {
    grid-column: 1/2;
    grid-row: 18/24;
  }
  .desserts-part {
    grid-column: 1/2;
    grid-row: 24/30;
  }
}
